$base-color: #04AA6D;
$text-color: darken($base-color, 20%);

.alert-button {
    background-color: #04AA6D;
    border: none;
    color: $text-color;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &:hover {
        background-color: lighten($base-color, 20%);
    }
}
